.header {
    padding-top: 31px;
    padding-bottom: 32px;
    padding-left: 102px;
    padding-right: 101px;
}

.header-nav {
    list-style-type: none;
    gap: 40px;
}

.header-nav-item {
    padding-right: 10px;
    font-weight: 500;
    font-size: 22px;
    color: #807D7E;

    a {
        color: #807D7E;

        &:hover {
            color: #000;
        }
    }
}

.header-search-fm {
    width: 267px;
    padding-left: 23px;
    gap: 12px;
    background-color: #F6F6F6;
    border: 1px solid #F6F6F6;
    border-radius: 8px;

    input {
        display: block;
        width: 70%;
        padding-top: 12.5px;
        padding-bottom: 12.5px;
        background-color: transparent;
        border: none;
        outline: none;
        font-size: 16px;
        color: #807D7E;

        &::placeholder {
            color: #807D7E;
        }
    }
}

.header-actions {
    gap: 12px;
}

.header-actions-item {
    width: 44px;
    height: 44px;
    padding-top: 12px;
    background-color: #F6F6F6;
    border: 1px solid #F6F6F6;
    border-radius: 8px;
    text-align: center;

    &:nth-child(2) {
        padding-top: 4px;
    }
}